<div class="toast-container">
  @for (toast of toasts$ | async; track toast.id) {
    <div class="toast" [class]="'toast-' + toast.type">
      <div class="toast-content">
        <i class="toast-icon" [ngClass]="getIconClass(toast.type)"></i>
        <span class="toast-message">{{ toast.message }}</span>
      </div>
      <button
        type="button"
        class="toast-close"
        (click)="dismiss(toast.id)"
        aria-label="Dismiss">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
  }
</div>
